body{
  text-align: center;
  text-shadow: #FC0 1px 0 10px;
  color: rgb(202, 220, 42);
  background: url('https://assets3.thrillist.com/v1/image/2822472/1584x1464/scale;webp=auto;jpeg_quality=60.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.App {
}

.ship-list{
background: black;
opacity: .9;
margin-left: 300px;
margin-right: 300px;
padding: 10px;

}

.ship-details{
  background: black;
  opacity: .9;
  margin-left: 300px;
  margin-right: 300px;
  padding: 10px;
}

a{
  color: yellow;
  text-decoration: none;
}

a:hover{
  color: white;
}

.heading{
  background: gray;
  margin-top: 0;
  margin-bottom: 0;
  padding: 40px;
}